<sctl-crud 
  [showTable]="showTable"
  [data]="crudValues"
  [state]="crudState"
  [config]="crudConfig" 
  (new)="onNew()"
  (deleteMultiple)="onDeleteMultiple($event)"
  (selectAction)="onSelectAction($event)"
  (closeForm)="onCloseFormDialog($event)"
  (pagination)="onPagination($event)"
  (clearFilters)="onClearFilters()"
  (searchFilters)="onSearchFilters()"
  (export)="onExportData()"
>
  <sctl-roles-filters-form class="contents"
    filtersForm 
    #filtersForm
    (valueChange)="filtersValue=$event;"
  ></sctl-roles-filters-form>

  @if (selectedItem) {
    <sctl-roles-form form
      [value]="selectedItem"
      (valueChange)="selectedItem = $event;"
      (formValid)="formValid = $event;"
    ></sctl-roles-form>
  }
</sctl-crud>