<div class="layout-topbar">
  <div class="layout-topbar-logo-container">
    <div class="layout-topbar-logo" (click)="onClickLogo()">
      <img src="assets/images/logo.png" alt="{{appName}}" class="w-20" />
      
      @if (appName) {
        <span class="p-0 m-0">{{ appName }}</span>
      }
    </div>
  </div>

  <div class="layout-topbar-actions" style="width: min-content;">
    @if (isThemeConfiguratorEnabled) {
      <div class="layout-config-menu">
        <div class="relative">
          <button class="layout-topbar-action layout-topbar-action-highlight me-3" 
            pStyleClass="@next" 
            enterFromClass="hidden"
            enterActiveClass="animate-scalein" 
            leaveToClass="hidden" 
            leaveActiveClass="animate-fadeout"
            [hideOnOutsideClick]="true"
          >
            <i class="pi pi-palette"></i>
          </button>
          <sctl-theme-configurator />
        </div>
      </div>
    }

    @if (areActionsEnabled) {
      <button class="layout-topbar-menu-button layout-topbar-action" 
        pStyleClass="@next"
        enterFromClass="hidden"
        enterActiveClass="animate-scalein" 
        leaveToClass="hidden" 
        leaveActiveClass="animate-fadeout"
        [hideOnOutsideClick]="true"
      >
        <i class="pi pi-ellipsis-v"></i>
      </button>

      <div class="layout-topbar-menu hidden lg:block">
        <div class="layout-topbar-menu-content">
          @for (action of actions; track action.label; let i = $index) {
            <button class="layout-topbar-action"
              [ngClass]="{
                'me-2': isSidebarEnabled || !isSidebarEnabled && i !== (actions.length - 1), 
                'me-6':!isSidebarEnabled && i === (actions.length - 1)
              }"
              type="button" 
              (click)="action?.command?.(null)"
            >
              <i class="{{ action?.icon }}"></i>
              <span>{{ action?.label }}</span>
            </button>
          }
        </div>
      </div>
    }

    @if (isSidebarEnabled) {
      <div class="flex" [ngClass]="{'me-4': !isUserAvatarEnabled, 'me-2': isUserAvatarEnabled}">
        <button class="layout-menu-button layout-topbar-action" (click)="onMenuButtonClick()">
          <i class="pi pi-bars" [ngStyle]="{ 'font-size': '1.75rem' }"></i>
        </button>
      </div>
    }

    @if (isUserAvatarEnabled) {
      <div class="me-8">
        <p-menu #menu [model]="actions" [popup]="true" appendTo="body" />
        <sctl-user-avatar
          [user]="user"
          [cssClass]="'w-[38px] h-[38px]'"
          [canClick]="true" 
          (clickAvatar)="menu.toggle($event);"
        ></sctl-user-avatar>
      </div>
    }
  </div>
</div>