<div class="layout-topbar">
  <div class="layout-topbar-logo-container" style="width: 100%;">
    @if (isSidebarEnabled) {
      <div class="flex {{ config?.menuButtonCssClass }}">
        <button class="layout-menu-button layout-topbar-action" (click)="layoutService.onMenuToggle()">
          <i class="pi pi-bars" [ngStyle]="{ 'font-size': config?.menuButtonIconSize }"></i>
        </button>
      </div>
    }

    <a class="layout-topbar-logo" (click)="onClickLogo()">
      <img src="{{ config?.logoUrl }}" alt="{{ config?.logoText }}" class="{{ config?.logoCssClass }}" />
      
      @if (config?.logoText) {
        @if (screenService.XS) {
          <h5>{{ config.logoText }}</h5>
        } @else {
          <h4>{{ config.logoText }}</h4>
        }
      }
    </a>
  </div>

  <div class="layout-topbar-actions" style="flex: 1;">
    @if (isSwitchThemeEnabled || isThemeConfiguratorEnabled) {
      <div class="layout-config-menu">
        @if (isThemeConfiguratorEnabled) {
          <div class="relative">
            <button class="layout-topbar-action layout-topbar-action-highlight" 
              pStyleClass="@next" 
              enterFromClass="hidden"
              enterActiveClass="animate-scalein" 
              leaveToClass="hidden" 
              leaveActiveClass="animate-fadeout"
              [hideOnOutsideClick]="true"
            >
              <i class="pi pi-palette"></i>
            </button>
            <sctl-theme-configurator />
          </div>
        }
      </div>
    }

    @if (areActionsEnabled) {
      <button class="layout-topbar-menu-button layout-topbar-action" 
        pStyleClass="@next"
        enterFromClass="hidden"
        enterActiveClass="animate-scalein" 
        leaveToClass="hidden" 
        leaveActiveClass="animate-fadeout"
        [hideOnOutsideClick]="true"
      >
        <i class="pi pi-ellipsis-v"></i>
      </button>

      <div class="layout-topbar-menu hidden lg:block">
        <div class="layout-topbar-menu-content">
          @if (config?.actions && config?.actions.length > 0) {
            @if (isSwitchThemeEnabled) {
              <button class="layout-topbar-action"
                type="button" 
                (click)="toggleDarkMode()"
              >
                <i [ngClass]="{ 
                  'pi ': true, 
                  'pi-moon': layoutService.isDarkTheme(), 
                  'pi-sun': !layoutService.isDarkTheme() }"
                ></i>
                <span>{{ !layoutService.isDarkTheme() ? config?.switchThemeLightModeLabel : config?.switchThemeDarkModeLabel }}</span>
              </button>
            }

            @for (action of config?.actions; track action.label) {
              <button class="layout-topbar-action"
                type="button" 
                (click)="action?.command?.(action)"
              >
                <i class="{{ action?.icon }}"></i>
                <span>{{ action?.label }}</span>
              </button>
            }
          }
        </div>
      </div>
    }
  </div>
</div>