@if (config?.showConfigurator) {
  <sctl-floating-theme-configurator />
}

<sctl-auth-card [config]="{ headerConfig: config?.headerConfig }">
  <form [formGroup]="loginForm" body>
    <div class="mb-6">
      <label for="login-email" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">
        {{config?.emailLabel}}
      </label>
      <input pInputText class="w-full md:w-120"
        id="login-email" 
        type="text"
        formControlName="email"
        [placeholder]="config?.emailPlaceholder"
      />
      <sctl-input-error [config]="config?.formErrors?.email"></sctl-input-error>
    </div>

    <div class="mb-6">
      <label for="login-password" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">
        {{config?.passwordLabel}}
      </label>
      <p-password
        id="login-password"
        formControlName="password"
        [placeholder]="config?.passwordPlaceholder"
        [toggleMask]="true"
        [fluid]="true"
        [feedback]="false">
      </p-password>
      <sctl-input-error [config]="config?.formErrors?.password"></sctl-input-error>
    </div>

    @if (config?.rememberMeEnabled || config?.forgotPasswordEnabled) {
      <div class="flex items-center justify-between mt-2 mb-6 gap-8">
        <div class="flex items-center">
          @if (config?.rememberMeEnabled) {
            <p-checkbox binary class="mr-2" id="login-rememberme" formControlName="rememberMe"></p-checkbox>
            <label for="login-rememberme">{{config?.rememberMeLabel}}</label>
          }
        </div>

        @if (config?.forgotPasswordEnabled) {
          <span class="font-medium no-underline ml-2 text-right text-primary cursor-pointer"
            (click)="onClickForgotPassword()"
          >
            {{config?.forgotPasswordLabel}}
          </span>
        }
      </div>
    }

    <p-button 
      [label]="config?.buttonLabel"
      [disabled]="loginForm?.invalid"
      styleClass="w-full {{ !config?.rememberMeEnabled && !config?.forgotPasswordEnabled ? 'mt-4' : '' }}" 
      (click)="onClickButton()"
    ></p-button>
  </form>
</sctl-auth-card>