.sctl-card {
  &__contrast {
    background-color: var(--p-surface-100) !important;

    &--dark {
      background-color: var(--p-surface-800) !important;
    }
  }

  &__no-padding {
    padding: 0 !important;
  }
}