<form class="contents" filtersForm [formGroup]="form">
  <input pInputText class="w-full"
    id="users-email-filter"
    type="text"
    [formControlName]="'email'"
    [placeholder]="'USERS.COLS.EMAIL' | translate"
  />
  <p-select
    [appendTo]="'body'"
    [className]="'w-full'"
    [inputId]="'users-role-filter'"
    [options]="rolesOptions" 
    formControlName="role"
    [optionLabel]="'name'"
    [optionValue]="'value'"
    [placeholder]="'USERS.COLS.ROLE' | translate"
    class="w-full md:w-56" 
  />
  <p-select
    [appendTo]="'body'"
    [className]="'w-full'"
    [inputId]="'users-active-filter'"
    [options]="activeOptions" 
    formControlName="active"
    [optionLabel]="'name'"
    [optionValue]="'value'"
    [placeholder]="'USERS.COLS.ACTIVE' | translate"
    class="w-full md:w-56" 
  />
</form>