@if (showDialog) {
  <sctl-dialog 
    [visible]="showDialog" 
    [config]="dialogConfig()"
    (close)="onClose()" 
    (submit)="onSubmit($event)"
  >
    <div content class="flex flex-col gap-2">
      <form form [formGroup]="editPasswordForm">
        <div class="flex flex-col md:flex-row gap-0 md:gap-8">
          <div class="mb-6 w-full">
            <label for="edit-password-dialog-password" class="block text-surface-900 dark:text-surface-0 text-lg font-medium mb-1">
              {{ 'USERS.COLS.PASSWORD' | translate }}
            </label>
            <p-password
              id="edit-password-dialog-password"
              formControlName="password"
              [toggleMask]="true"
              [fluid]="true"
              [feedback]="false"
            ></p-password>
            <sctl-input-error [config]="formErrors?.['password']"></sctl-input-error>
          </div>

          <div class="mb-6 w-full">
            <label for="edit-password-dialog-confirmPassword" class="block text-surface-900 dark:text-surface-0 text-lg font-medium mb-1">
              {{ 'USERS.COLS.CONFIRM_PASSWORD' | translate }}
            </label>
            <p-password
              id="edit-password-dialog-confirmPassword"
              formControlName="confirmPassword"
              [toggleMask]="true"
              [fluid]="true"
              [feedback]="false"
            ></p-password>
            <sctl-input-error [config]="formErrors?.['confirmPassword']"></sctl-input-error>
          </div>
        </div>
      </form>
    </div>
  </sctl-dialog>
}