<sctl-auth-card [config]="cardConfig">
  <form [formGroup]="forgotPasswordForm" body>
    <div class="mb-6">
      <label class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2" for="forgot-password-email">
        {{inputs?.['email']?.label}}
      </label>
      <input class="w-full md:w-120"
        id="forgot-password-email"
        pInputText
        type="text"
        formControlName="email"
        [placeholder]="inputs?.['email']?.placeholder"
      />
      <sctl-input-error [config]="formErrors?.['email']"></sctl-input-error>
    </div>

    <sctl-auth-links [config]="linksConfig"></sctl-auth-links>

    <p-button 
      [label]="'AUTH.FORGOT_PASSWORD.BUTTON_LABEL' | translate"
      [disabled]="forgotPasswordForm?.invalid"
      styleClass="w-full {{ linksConfig?.links?.length > 0 ? 'mt-4' : '' }}" 
      (click)="onClickButton()"
    ></p-button>
  </form>
</sctl-auth-card>