<div class="layout-sidebar" [ngClass]="{'layout-sidebar__no-floating-sidebar': !isFloating}">
  <div class="flex-1 ps-6 pe-6 pt-2 overflow-auto">
    <sctl-layout-menu [menu]="menu"></sctl-layout-menu>
  </div>
  @if (isUserAvatarEnabled) {
    <div #menuContainer class="p-5 flex items-center justify-start" (click)="clickMenu($event, menu)">
      <p-menu #menu [model]="actions" [popup]="true" appendTo="body" [style]="{ 'width': '20rem' }" />
      <div class="flex gap-4 cursor-pointer" (click)="clickAvatar(menuContainer)">
        <sctl-user-avatar 
          [cssClass]="'w-[42px] h-[42px]'" 
          [canClick]="false" 
          (clickAvatar)="undefined"
        ></sctl-user-avatar>
        <div class="flex flex-col">
          <span class="text-lg font-bold">
            {{ (user?.personalName ?? user?.userName ?? user?.email) | titlecase }}
          </span>
          <span class="text-sm font-bold text-muted-color">
            {{ user?.role?.name.toLowerCase() | titlecase }}
          </span>
        </div>
      </div>
    </div>
  }
</div>