<sctl-auth-card [config]="cardConfig">
  <form [formGroup]="registerForm" body>
    <div class="mb-6">
      <label for="register-email" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">
        {{inputs?.['email']?.label}}
      </label>
      <input pInputText class="w-full md:w-120"
        id="register-email" 
        type="text"
        formControlName="email"
        [placeholder]="inputs?.['email']?.placeholder"
      />
      <sctl-input-error [config]="formErrors?.['email']"></sctl-input-error>
    </div>

    <div class="mb-6">
      <label for="register-password" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">
        {{inputs?.['password']?.label}}
      </label>
      <p-password
        id="register-password"
        formControlName="password"
        [placeholder]="inputs?.['password']?.placeholder"
        [toggleMask]="true"
        [fluid]="true"
        [feedback]="false">
      </p-password>
      <sctl-input-error [config]="formErrors?.['password']"></sctl-input-error>
    </div>

    <div class="mb-6">
      <label for="register-confirm-password" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">
        {{inputs?.['confirmPassword']?.label}}
      </label>
      <p-password
        id="register-confirm-password"
        formControlName="confirmPassword"
        [placeholder]="inputs?.['confirmPassword']?.placeholder"
        [toggleMask]="true"
        [fluid]="true"
        [feedback]="false">
      </p-password>
      <sctl-input-error [config]="formErrors?.['confirmPassword']"></sctl-input-error>
    </div>

    <sctl-auth-links [config]="linksConfig"></sctl-auth-links>

    <p-button 
      [label]="'AUTH.REGISTER.BUTTON_LABEL' | translate"
      [disabled]="registerForm?.invalid"
      styleClass="w-full {{ linksConfig?.links?.length > 0 ? 'mt-4' : '' }}" 
      (click)="onClickButton()"
    ></p-button>
  </form>
</sctl-auth-card>