<div class="flex flex-col gap-3">
  @for (selection of selections; track $index) {
    <div class="flex items-center gap-2">
      <p-select
        class="w-full"
        [appendTo]="'body'"
        [inputId]="'residence-room-selector-residence-' + $index"
        [ariaLabel]="'SHARED.COMPONENTS.RESIDENCE_ROOM_SELECTOR.LABEL' | translate"
        [options]="residences() ?? []"
        [ngModel]="selection.residenceId"
        [ngModelOptions]="{ standalone: true }"
        (ngModelChange)="onResidenceChange($index, $event)"
        [optionLabel]="'street'"
        [optionValue]="'_id'"
        [showClear]="true"
      >
        <ng-template #selectedItem let-residence>
          @if (residence) {
            {{ residence.street }} {{ residence.number }}{{ residence.flat ? ' - ' + residence.flat : '' }}
          }
        </ng-template>

        <ng-template #item let-residence>
          @if (residence) {
            {{ residence.street }} {{ residence.number }}{{ residence.flat ? ' - ' + residence.flat : '' }}
            @if (residence.city) {
              - {{ residence.city }}
            }
          }
        </ng-template>
      </p-select>

      <p-select
        class="w-full"
        [appendTo]="'body'"
        [inputId]="'residence-room-selector-room-' + $index"
        [ariaLabel]="'SHARED.COMPONENTS.RESIDENCE_ROOM_SELECTOR.LABEL' | translate"
        [options]="getRoomOptions($index)"
        [ngModel]="selection.roomId"
        [ngModelOptions]="{ standalone: true }"
        (ngModelChange)="onRoomChange($index, $event)"
        [optionLabel]="'name'"
        [optionValue]="'_id'"
        [disabled]="!selection.residenceId"
        [showClear]="true"
      >
        <ng-template #item let-room>
          {{ room.name }}
        </ng-template>
      </p-select>

      @if (selections.length > 1) {
        <p-button
          icon="pi pi-trash"
          severity="danger"
          [text]="true"
          [rounded]="true"
          [attr.aria-label]="'COMMON.DELETE' | translate"
          (onClick)="removeSelection($index)"
        />
      }
    </div>
  }

  <div class="flex items-center justify-end">
    <p-button
      [label]="'COMMON.ADD' | translate"
      icon="pi pi-plus"
      severity="secondary"
      [outlined]="true"
      [rounded]="true"
      [disabled]="!canAddSelection"
      (onClick)="addSelection()"
    />
  </div>
</div>
