
<div class='bookings-calendar'>

  <div class='bookings-calendar__sidebar card'>
    <sctl-bookings-calendar-sidebar
      [calendarDate]="calendarDate()"
      [residences]="bookingCalendar()?.residences"
      (onSelectDate)="onSelectDateHandler($event)"
      (onResidenceChange)="onResidenceChangeHandler($event)"
    ></sctl-bookings-calendar-sidebar>
  </div>

  <div class='bookings-calendar__content card'>
    @if (calendarVisible()) {
      <full-calendar #calendar class="calendar" [options]='calendarOptions()'>
        <ng-template #eventContent let-arg>
          <b>{{ arg.timeText }}</b>
          <i>{{ arg.event.title }}</i>
        </ng-template>
      </full-calendar>
    } @else {
      <div class="loader">
        <sctl-loader [config]="{ showLoader: true, width: 72, height: 72, borderWidth: 7 }"></sctl-loader>
      </div>
    }
  </div>

</div>

@if (showBookingFormDialog()) {
  <sctl-booking-form-dialog
    [visible]="showBookingFormDialog()"
    [config]="bookingFormDialogConfig()"
    [value]="selectedBooking()"
    [rooms]="selectedResidenceRooms()"
    [customers]="tenantCustomers()"
    (close)="showBookingFormDialog.set(false)"
    (submit)="onNewBookingHandler($event)"
    (delete)="deleteBookingHandler($event)"
  ></sctl-booking-form-dialog>
}