<sctl-profile-form [saveDisabled]="changePasswordForm.invalid" (save)="onClickSave()" (lock)="onClickLockOrUnlockForm()">
  <form form [formGroup]="changePasswordForm">
    <div>
      <label for="change-password-currentPassword" class="block text-surface-900 dark:text-surface-0 text-lg font-medium mb-1">
        {{ 'PROFILE.CHANGE_PASSWORD.LABELS.CURRENT_PASSWORD' | translate }}
      </label>
      <p-password
        id="change-password-currentPassword"
        formControlName="currentPassword"
        [toggleMask]="true"
        [fluid]="true"
        [feedback]="false"
        [disabled]="lockForm"
      ></p-password>
      <sctl-input-error [config]="formErrors?.['currentPassword']"></sctl-input-error>
    </div>

    <div class="mt-4">
      <label for="change-password-password" class="block text-surface-900 dark:text-surface-0 text-lg font-medium mb-1">
        {{ 'PROFILE.CHANGE_PASSWORD.LABELS.NEW_PASSWORD' | translate }}
      </label>
      <p-password
        id="change-password-password"
        formControlName="password"
        [toggleMask]="true"
        [fluid]="true"
        [feedback]="false"
        [disabled]="lockForm"
      ></p-password>
      <sctl-input-error [config]="formErrors?.['password']"></sctl-input-error>
    </div>

    <div class="mt-4">
      <label for="change-password-confirmPassword" class="block text-surface-900 dark:text-surface-0 text-lg font-medium mb-1">
        {{ 'PROFILE.CHANGE_PASSWORD.LABELS.CONFIRM_PASSWORD' | translate }}
      </label>
      <p-password
        id="change-password-confirmPassword"
        formControlName="confirmPassword"
        [toggleMask]="true"
        [fluid]="true"
        [feedback]="false"
        [disabled]="lockForm"
      ></p-password>
      <sctl-input-error [config]="formErrors?.['confirmPassword']"></sctl-input-error>
    </div>
  </form>
</sctl-profile-form>