<div class="w-full">
  <p-inputgroup>
    <p-inputgroup-addon>
      <i class="pi pi-home"></i>
    </p-inputgroup-addon>
  
    <p-select
      class="w-full md:w-56" 
      [ngModel]="currentResidence"
      [appendTo]="'body'"
      [className]="'w-full'"
      [options]="residencesOptions"
      [optionLabel]="'name'"  
      [optionValue]="'value'"
      (onChange)="onResidenceChangeHandler($event)"
    />
  </p-inputgroup>
</div> 
 
<div class="mt-4">
  <p-datepicker class="max-w-full" 
    [(ngModel)]="currentDate" 
    [inline]="true" 
    [showWeek]="true"
    [firstDayOfWeek]="1"
    (onSelect)="onSelectDateHandler($event)"
  />
</div>

<div class="mt-4 flex flex-row justify-between">
  <p-button
    [label]="'PAGES.BOOKINGS.CALENDAR' | translate"
    [icon]="'pi pi-calendar'"
    [severity]="'primary'"
    [outlined]="true"
    [rounded]="true"
    (click)="onOpenResidenceCalendarDialog()" 
  />

  <p-button
    [label]="'PAGES.BOOKINGS.NEW_BOOKING' | translate"
    [icon]="'pi pi-book'"
    [severity]="'secondary'"
    [outlined]="true"
    [rounded]="true"
    (click)="onNewBooking.emit()" 
  />
</div>


@if (showResidenceCalendarDialog) {
  <sctl-residence-calendar-dialog
    [visible]="showResidenceCalendarDialog"
    [value]="currentResidence?.calendar"
    [config]="residenceCalendarDialogConfig"
    (close)="showResidenceCalendarDialog = false"
    (submit)="onSubmitResidenceCalendar($event)"
  ></sctl-residence-calendar-dialog>
}