@if (showDialog) {
  <sctl-dialog 
    [visible]="showDialog" 
    [config]="config()?.dialogConfig" 
    (close)="onClose()" 
    (submit)="onSubmit($event)"
  >
    <div content class="flex flex-col gap-2">
      <p-fileUpload  name="file-upload-dialog-file" 
        [mode]="'advanced'"
        [accept]="config()?.accept"
        [multiple]="config()?.multiple"
        [chooseLabel]="config()?.chooseLabel"
        [cancelLabel]="config()?.cancelLabel"
        [maxFileSize]="config()?.maxFileSize"
        [showUploadButton]="false" 
        (onSelect)="onSelectFiles($event)"
        (onClear)="onClearFiles()"
        (onRemove)="onRemoveFile($event)"
      ></p-fileUpload>
    </div>
  </sctl-dialog>
}