<sctl-crud 
  [showTable]="showTable"
  [data]="crudValues"
  [state]="crudState"
  [config]="crudConfig" 
  (new)="onNew()"
  (deleteMultiple)="onDeleteMultiple($event)"
  (selectAction)="onSelectAction($event)"
  (closeForm)="onCloseFormDialog($event)"
  (pagination)="onPagination($event)"
  (clearFilters)="onClearFilters()"
  (searchFilters)="onSearchFilters()"
>
  <sctl-menu-front-filters-form class="contents"
    filtersForm 
    #filtersForm
    (valueChange)="filtersValue=$event;"
  ></sctl-menu-front-filters-form>
  
  @if (selectedItem) {
    <sctl-menu-front-form form
      [value]="selectedItem"
      (valueChange)="selectedItem = $event;"
      (formValid)="formValid = $event;"
    ></sctl-menu-front-form>
  }
</sctl-crud>