
<sctl-profile-form [saveDisabled]="personalInformationForm.invalid" (save)="onClickSave()" (lock)="onClickLockOrUnlockForm()">
  <form form [formGroup]="personalInformationForm">
    <div>
      <label for="profile-personal-information-personalName" class="block text-surface-900 dark:text-surface-0 text-lg font-medium mb-1">
        {{ 'PROFILE.PERSONAL_INFORMATION.LABELS.PERSONAL_NAME' | translate }}
      </label>
      <input id="profile-personal-information-personalName" 
        class="w-full"
        pInputText
        type="text"
        formControlName="personalName"
      />
    </div>

    <div class="mt-4">
      <label for="profile-personal-information-userName" class="block text-surface-900 dark:text-surface-0 text-lg font-medium mb-1">
        {{ 'PROFILE.PERSONAL_INFORMATION.LABELS.USER_NAME' | translate }}
      </label>
      <input id="profile-personal-information-userName" 
        class="w-full"
        pInputText
        type="text"
        formControlName="userName"
      />
    </div>

    <div class="mt-4">
      <label for="profile-personal-information-email" class="block text-surface-900 dark:text-surface-0 text-lg font-medium mb-1">
        {{ 'PROFILE.PERSONAL_INFORMATION.LABELS.EMAIL' | translate }}
      </label>
      <input id="profile-personal-information-email" 
        class="w-full"
        pInputText
        type="text"
        formControlName="email"
        readonly
      />
    </div>

    <div class="mt-4">
      <label for="profile-personal-information-role" class="block text-surface-900 dark:text-surface-0 text-lg font-medium mb-1">
        {{ 'PROFILE.PERSONAL_INFORMATION.LABELS.ROLE' | translate }}
      </label>
      <input id="profile-personal-information-role" 
        class="w-full"
        pInputText
        type="text"
        formControlName="role"
        readonly
      />
    </div>

    <div class="mt-4">
      <label for="profile-personal-information-createdAt" class="block text-surface-900 dark:text-surface-0 text-lg font-medium mb-1">
        {{ 'PROFILE.PERSONAL_INFORMATION.LABELS.CREATED_AT' | translate }}
      </label>
      <input id="profile-personal-information-createdAt" 
        class="w-full"
        pInputText
        type="text"
        formControlName="createdAt"
        readonly
      />
    </div>
  </form>
</sctl-profile-form>