.toast-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  z-index: 1050;

  &__top-right {
    top: 1rem;
    right: 1rem;
  }

  &__top-left {
    top: 1rem;
    left: 1rem;
  }

  &__bottom-right {
    bottom: 1rem;
    right: 1rem;
  }

  &__bottom-left {
    bottom: 1rem;
    left: 1rem;
  }

  &__block-top {
    width: calc(100vw - 3rem);
    left: 1rem;
    top: 1rem;
  }

  &__block-bottom {
    width: calc(100vw - 3rem);
    left: 1rem;
    bottom: 1rem;
  }
}

.toast {
  min-width: 280px;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #fff;
  animation: fadeIn 0.3s ease;
  display: flex;
  flex-direction: column;
}

.toast-content {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.toast-icon {
  font-size: 1.4rem;
  flex-shrink: 0;
  margin-top: 0.1rem;
}

.toast-text {
  flex-grow: 1;
}

.toast-summary {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.toast-detail {
  font-size: 1rem;
  font-weight: 400;
  color: var(--p-surface-700);
}

.close-btn {
  background: transparent;
  border: none;
  color: inherit;
  font-size: 1rem;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.success {
  background-color: var(--p-message-success-background, var(--p-green-50));
  border: 1px solid var(--p-message-success-border-color, var(--p-green-200));
  color: var(--p-message-success-color, var(--p-green-700));
  box-shadow: var(--p-message-success-shadow, none);
}

.info {
  background-color: var(--p-message-info-background, var(--p-blue-50));
  border: 1px solid var(--p-message-info-border-color, var(--p-blue-200));
  color: var(--p-message-info-color, var(--p-blue-700));
  box-shadow: var(--p-message-info-shadow, none);
}

.warn {
  background-color: var(--p-message-warn-background, var(--p-yellow-50));
  border: 1px solid var(--p-message-warn-border-color, var(--p-yellow-200));
  color: var(--p-message-warn-color, var(--p-yellow-700));
  box-shadow: var(--p-message-warn-shadow, none);
}

.error {
  background-color: var(--p-message-error-background, var(--p-red-50));
  border: 1px solid var(--p-message-error-border-color, var(--p-red-200));
  color: var(--p-message-error-color, var(--p-red-700));
  box-shadow: var(--p-message-error-shadow, none);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}