@if (config?.showConfigurator) {
  <sctl-floating-theme-configurator />
}

<div class="flex items-center justify-center min-h-screen overflow-hidden">
  <div class="flex flex-col items-center justify-center">
    <div style="
      border-radius: 56px;
      padding: 0.3rem; 
      background: linear-gradient(180deg, color-mix(in srgb, var(--primary-color), transparent 60%) 10%, var(--surface-ground) 30%)"
    >
      <div class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20 flex flex-col items-center" style="border-radius: 53px; min-width: 400px;">
        <h1 class="text-surface-900 dark:text-surface-0 font-bold text-3xl lg:text-5xl mb-2">{{config?.title}}</h1>
        @if (config?.message) {
          <div class="text-surface-600 dark:text-surface-200 mb-4">{{config?.message}}</div>
        }

        @if (showActions()) {
          @for (action of config?.actions; track action) {
            <a class="w-full flex items-center mb-8 py-8 border-surface-300 dark:border-surface-500 border-b" (click)="onClickButton(action?.link)">
              <span class="flex justify-center items-center border-2 border-primary text-primary rounded-border" style="height: 3.5rem; width: 3.5rem">
                <i class="pi pi-fw text-2xl! {{action?.icon}}"></i>
              </span>
              <span class="ml-6 flex flex-col">
                <span class="text-surface-900 dark:text-surface-0 lg:text-xl font-medium mb-0">{{action?.title}}</span>
                @if (action?.subTitle) {
                  <span class="text-surface-600 dark:text-surface-200 lg:text-xl">{{action?.subTitle}}</span>
                }
              </span>
            </a>
          }
        }
        
        <div class="mt-8">
          <p-button [label]="config?.buttonLabel" (click)="onClickButton()" />
        </div>
      </div>
    </div>
  </div>
</div>