<form [formGroup]="residenceForm">
  <div class="flex flex-col md:flex-row gap-0 md:gap-8">
    <div class="mb-6 w-full">
      <label for="residences-form-street" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">
        {{ 'RESIDENCES.COLS.STREET' | translate }}
      </label>
      <input pInputText class="w-full"
        id="residences-form-street"
        type="text"
        formControlName="street"
        [placeholder]="''"
      />
      <sctl-input-error [config]="formErrors?.['street']"></sctl-input-error>
    </div>

    <div class="mb-6 w-full">
      <label for="residences-form-number" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">
        {{ 'RESIDENCES.COLS.NUMBER' | translate }}
      </label>
      <input pInputText class="w-full"
        id="residences-form-number"
        type="text"
        formControlName="number"
        [placeholder]="''"
      />
      <sctl-input-error [config]="formErrors?.['number']"></sctl-input-error>
    </div>
  </div>

  <div class="flex flex-col md:flex-row gap-0 md:gap-8">
    <div class="mb-6 w-full">
      <label for="residences-form-flat" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">
        {{ 'RESIDENCES.COLS.FLAT' | translate }}
      </label>
      <input pInputText class="w-full"
        id="residences-form-flat"
        type="text"
        formControlName="flat"
        [placeholder]="''"
      />
    </div>

    <div class="mb-6 w-full">
      <label for="residences-form-door" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">
        {{ 'RESIDENCES.COLS.DOOR' | translate }}
      </label>
      <input pInputText class="w-full"
        id="residences-form-door"
        type="text"
        formControlName="door"
        [placeholder]="''"
      />
    </div>

    <div class="mb-6 w-full">
      <label for="residences-form-city" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">
        {{ 'RESIDENCES.COLS.CITY' | translate }}
      </label>
      <input pInputText class="w-full"
        id="residences-form-city"
        type="text"
        formControlName="city"
        [placeholder]="''"
      />
      <sctl-input-error [config]="formErrors?.['city']"></sctl-input-error>
    </div>
  </div>

  <div class="flex flex-col md:flex-row gap-0 md:gap-8">
    <div class="mb-6 w-full">
      <label for="residences-form-province" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">
        {{ 'RESIDENCES.COLS.PROVINCE' | translate }}
      </label>
      <input pInputText class="w-full"
        id="residences-form-province"
        type="text"
        formControlName="province"
        [placeholder]="''"
      />
      <sctl-input-error [config]="formErrors?.['province']"></sctl-input-error>
    </div>

    <div class="mb-6 w-full">
      <label for="residences-form-postal-code" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">
        {{ 'RESIDENCES.COLS.POSTAL_CODE' | translate }}
      </label>
      <input pInputText class="w-full"
        id="residences-form-postal-code"
        type="text"
        formControlName="postalCode"
        [placeholder]="''"
      />
      <sctl-input-error [config]="formErrors?.['postalCode']"></sctl-input-error>
    </div>

    <div class="mb-6 w-full">
      <label for="residences-form-cadastre" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">
        {{ 'RESIDENCES.COLS.CADASTRE' | translate }}
      </label>
      <input pInputText class="w-full"
        id="residences-form-cadastre"
        type="text"
        formControlName="cadastre"
        [placeholder]="''"
      />
    </div>
  </div>

  <div class="flex flex-col md:flex-row gap-0 md:gap-8">
    <div class="mb-6 w-full">
      <label for="residences-form-description" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">
        {{ 'RESIDENCES.COLS.DESCRIPTION' | translate }}
      </label>
      <textarea pInputTextarea class="w-full"
        id="residences-form-description"
        formControlName="description"
        rows="5"
        [placeholder]="''"
      ></textarea>
    </div>
  </div>
</form>