@if (config?.showConfigurator) {
  <sctl-floating-theme-configurator />
}

<sctl-auth-card [config]="{ headerConfig: config?.headerConfig }">
  <form [formGroup]="resetPasswordForm" body>
    <div class="mb-6">
      <label for="resetPassword-password" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">
        {{config?.inputs?.password.label}}
      </label>
      <p-password
        id="resetPassword-password"
        formControlName="password"
        [placeholder]="config?.inputs?.password.placeholder"
        [toggleMask]="true"
        [fluid]="true"
        [feedback]="false">
      </p-password>
      <sctl-input-error [config]="config?.formErrors?.password"></sctl-input-error>
    </div>

    <div class="mb-6">
      <label for="resetPassword-confirmPassword" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">
        {{config?.inputs?.confirmPassword.label}}
      </label>
      <p-password
        id="resetPassword-confirmPassword"
        formControlName="confirmPassword"
        [placeholder]="config?.inputs?.confirmPassword.placeholder"
        [toggleMask]="true"
        [fluid]="true"
        [feedback]="false">
      </p-password>
      <sctl-input-error [config]="config?.formErrors?.confirmPassword"></sctl-input-error>
    </div>

    <p-button 
      [label]="config?.buttonLabel"
      [disabled]="resetPasswordForm?.invalid"
      styleClass="w-full {{ config?.links?.length > 0 ? 'mt-4' : '' }}" 
      (click)="onClickButton()"
    ></p-button>
  </form>
</sctl-auth-card>