<sctl-auth-card [config]="cardConfig">
  <form [formGroup]="resetPasswordForm" body>
    <div class="mb-6">
      <label for="resetPassword-password" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">
        {{inputs?.['password']?.label}}
      </label>
      <p-password
        id="resetPassword-password"
        formControlName="password"
        [placeholder]="inputs?.['password']?.placeholder"
        [toggleMask]="true"
        [fluid]="true"
        [feedback]="false">
      </p-password>
      <sctl-input-error [config]="formErrors?.['password']"></sctl-input-error>
    </div>

    <div class="mb-6">
      <label for="resetPassword-confirmPassword" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">
        {{inputs?.['confirmPassword']?.label}}
      </label>
      <p-password
        id="resetPassword-confirmPassword"
        formControlName="confirmPassword"
        [placeholder]="inputs?.['confirmPassword']?.placeholder"
        [toggleMask]="true"
        [fluid]="true"
        [feedback]="false">
      </p-password>
      <sctl-input-error [config]="formErrors?.['confirmPassword']"></sctl-input-error>
    </div>

    <p-button 
      [label]="'AUTH.RESET_PASSWORD.BUTTON_LABEL' | translate"
      [disabled]="resetPasswordForm?.invalid"
      styleClass="w-full" 
      (click)="onClickButton()"
    ></p-button>
  </form>
</sctl-auth-card>